{% extends "layout.html" %} {% block body %}

<div class="grid-container">
  <div class="navigation-bar grid-item-row-1">
    <div class="navigation-bar-left">
      <div>
        <a href="/">Home</a>
      </div>
      <div>
        <a href="/about-us" class="active">About Us</a>
      </div>
    </div>
    <div class="navigation-bar-right">
      <div>
        <input type="search" />
        <button>Search</button>
      </div>
    </div>
  </div>
  <div class="content-with-background-color grid-item-col-1-row-3">
    <p>Here we have various apartments just for you.</p>
    <p>In various areas around Lagos state.</p>
  </div>
  <div class="content-with-background-image grid-item-row-2">
    <div class="animated-content">
      <p>Get to know us!</p>
    </div>
  </div>
  <div class="content-with-background-color grid-item-col-2-row-3">
    <p>What type of residence do you seek?</p>
    <p>We have got you covered...</p>
  </div>
  <div class="content-with-background-image2 grid-item-row-4">
    <p>Your dream home is just within your reach.</p>
    <p>Your dream office too!</p>
    <p>We have a huge variety for you to select from.</p>
  </div>
  <div class="content-with-background-color grid-item-col-3-row-3">
    <p>
      The Tenant Management System... built for landlords and tenants alike.
    </p>
    <p>Shall we begin?</p>
  </div>
</div>

{% endblock%}
