{% extends "layout.html" %}

{% block body %}

<div class="grid-container">
    <div class="navigation-bar grid-item-row-1">
        <div class="navigation-bar-left">
            <div>
                <a href="/" class="active">Home</a>
            </div>
            <div>
                <a href="/about-us">About Us</a>
            </div>
        </div>
        <div class="navigation-bar-right">
            <div>
                <input type="search">
                <button>Search</button>
            </div>

        </div>
    </div>
    <div class="content-with-background-color grid-item-col-1-row-3">
        <p>Tenant Management System</p>
        <p>Built for you...</p>
    </div>
    <div class="content-with-background-image grid-item-row-2">
        <div class="animated-content">
            <p>Welcome!</p>
        </div>
    </div>
    <div class="content-with-background-color grid-item-col-2-row-3">
        <p>Are you a land owner?</p>
    </div>
    <div class="content-with-background-image2 grid-item-row-4">
        <p>Are you a house owner looking to become a landlord?</p>
    </div>
    <div class="content-with-background-color grid-item-col-3-row-3">
        <p>You're in just the right place!</p>
    </div>
</div>


{% endblock%}