{% extends "layout.html" %} {% block body %}

<div class="grid-container">
  <div class="navigation-bar grid-item-row-1">
    <div class="navigation-bar-left">
      <div>
        <a href="/">Home</a>
      </div>
      <div>
        <a href="/about-us">About Us</a>
      </div>
      <div>
        <a href="/students/create" class="active">Add department</a>
      </div>
    </div>
    <div class="navigation-bar-right">
      <div>
        <input type="search" />
        <button>Search</button>
      </div>
    </div>
  </div>
  <div class="grid-item-row-2">
    <form class="box" id="createUserForm" action="/departments" method="POST">
      <fieldset id="createUserFormFieldSet" class="container">
        <div class="field">
          <label class="label">Department Name:</label>
          <div class="control has-icons-right">
            <input
              class="input"
              id="departmentName"
              name="departmentName"
              type="text"
              placeholder="Department Name"
              required
            />
          </div>
        </div>

        <div class="field">
          <label class="label">Title:</label>
          <div class="control has-icons-right">
            <input
              class="input"
              id="title"
              name="title"
              type="text"
              placeholder="Title"
              required
            />
          </div>
        </div>

        <div class="field">
          <label class="label">Employment Type:</label>
          <div class="control has-icons-right">
            <input
              class="input"
              id="employmentType"
              name="employmentType"
              type="text"
              placeholder="Employment Type"
              required
            />
          </div>
        </div>

        <div class="field">
          <label class="label">Company Name:</label>
          <div class="control has-icons-right">
            <input
              class="input"
              id="companyName"
              name="companyName"
              type="text"
              placeholder="Company Name"
            />
          </div>
        </div>

        <div class="field">
          <label class="label">Location:</label>
          <div class="control has-icons-right">
            <input
              class="input"
              id="location"
              name="location"
              type="text"
              placeholder="Location"
            />
          </div>
        </div>

        <div class="field is-grouped">
          <div class="control">
            <button
              type="submit"
              id="submitCreateUserForm"
              class="button is-link is-small"
            >
              Submit
            </button>
          </div>
          <div class="control">
            <button type="reset" class="button is-light is-small">Clear</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>

<section class="section">
  <div class="container">
    <div
      id="notification"
      class="notification container is-hidden animated slideInUp"
    >
      <button class="delete"></button>
      <div id="notificationMessage">{{notificationMessage}}</div>
    </div>
  </div>
</section>

{% endblock %}

<script>
  const createUserForm = document.getElementById('createUserForm');

  createUserForm.addEventListener('submit', (event) => {
    event.preventDefault();

    const departmentName = document.getElementById('departmentName').value;
    if (departmentName == '') {
      departmentName.reportValidity();
      return false;
    }

    const title = document.getElementById('title').value;

    const employmentType = document.getElementById('employmentType').value;

    const companyName = document.getElementById('companyName').value;

    const location = document.getElementById('location').value;

    document.getElementById('submitCreateUserForm').classList.add('is-loading');

    const init = {
      method: 'Post',
      headers: {
        'Content-Type': 'application/json',
      },

      body: JSON.stringify({
        departmentName,
        title,
        employmentType,
        companyName,
        location,
      }),
    };

    fetch('/departments', init)
      .then((response) => response.json())
      .then((data) => {
        document
          .getElementById('submitCreateUserForm')
          .classList.remove('is-loading');

        document.getElementById('notificationMessage').innerHTML =
          'User creation successful';

        document.getElementById('notification').classList.add('is-success');

        document.getElementById('notification').classList.remove('is-hidden');
      })

      .catch((error) => {
        document
          .getElementById('submitCreateUserForm')
          .classList.remove('is-loading');

        document.getElementById('notificationMessage').innerHTML =
          error.message;

        document.getElementById('notification').classList.add('is-danger');

        document.getElementById('notification').classList.remove('is-hidden');
      });
  });
</script>
