{% extends "layout.html" %} {% block body %}

<div class="grid-container">
  <div class="navigation-bar grid-item-row-1">
    <div class="navigation-bar-left">
      <div>
        <a href="/">Home</a>
      </div>
      <div>
        <a href="/about-us">About Us</a>
      </div>
      <div>
        <a href="/roles/create" class="active">Add role</a>
      </div>
    </div>
    <div class="navigation-bar-right">
      <div>
        <input type="search" />
        <button>Search</button>
      </div>
    </div>
  </div>
  <div class="grid-item-row-2">
    <form class="box" id="createUserForm" action="/roles" method="POST">
      <fieldset id="createUserFormFieldSet" class="container">

        <div class="field">
          <label class="label">Role:</label>
          <div class="control has-icons-right">
            <input
              class="input"
              id="roleName"
              name="roleName"
              type="text"
              placeholder="Name of role assigned"
              required
            />
          </div>
        </div>

        <div class="field">
          <label class="label">Assigned by:</label>
          <div class="control has-icons-right">
            <input
              class="input"
              id="assignedBy"
              name="assignedBy"
              type="text"
              placeholder="Assigned by ..."
            />
          </div>
        </div>
        
        <div class="field">
          <label class="label">Subordinates:</label>
          <div class="control has-icons-right">
            <input
              class="input"
              id="subordinates"
              name="subordinates"
              type="text"
              placeholder="Subordinates"
            />
          </div>
        </div>
        
        <div class="field">
            <label class="label">Date Assigned:</label>
            <div class="control has-icons-right">
              <input
                class="input"
                id="dateAssigned"
                name="dateAssigned"
                type="date"
                pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"
                placeholder="yyyy-mm-dd"
              />
            </div>
          </div>

        <div class="field is-grouped">
          <div class="control">
            <button
              type="submit"
              id="submitCreateUserForm"
              class="button is-link is-small"
            >
              Submit
            </button>
          </div>
          <div class="control">
            <button type="reset" class="button is-light is-small">Clear</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>

<section class="section">
  <div class="container">
    <div
      id="notification"
      class="notification container is-hidden animated slideInUp"
    >
      <button class="delete"></button>
      <div id="notificationMessage">{{notificationMessage}}</div>
    </div>
  </div>
</section>

{% endblock %}

<script>
  const createUserForm = document.getElementById('createUserForm');

  createUserForm.addEventListener('submit', (event) => {
    event.preventDefault();

    const roleName= document.getElementById('roleName').value;
    if (roleName == '') {
      roleName.reportValidity();
      return false;
    }

    const assignedBy= document.getElementById(
      'assignedBy',
    ).value;

    const subordinates= document.getElementById(
      'subordinates',
    ).value;

    const dateAssigned= document.getElementById(
      'dateAssigned',
    ).value;

    

    

    document.getElementById('submitCreateUserForm').classList.add('is-loading');

    const init = {
      method: 'Post',
      headers: {
        'Content-Type': 'application/json',
      },
      //credentials: 'same-origin',
      body: JSON.stringify({
        roleName,
        assignedBy,
        subordinates,
        dateAssigned,
      }),
    };

    //call fetch
    fetch('/roles', init)
      .then((response) => response.json())
      .then((data) => {
        document
          .getElementById('submitCreateUserForm')
          .classList.remove('is-loading');
        document.getElementById('notificationMessage').innerHTML =
          'User creation successful';
        document.getElementById('notification').classList.add('is-success');
        document.getElementById('notification').classList.remove('is-hidden');
      })
      .catch((error) => {
        document
          .getElementById('submitCreateUserForm')
          .classList.remove('is-loading');

        document.getElementById('notificationMessage').innerHTML =
          error.message;
        document.getElementById('notification').classList.add('is-danger');
        document.getElementById('notification').classList.remove('is-hidden');
      });
  });
</script>
